:root {
  --warning-color: #f7cd2e;
  --secondary-color: #ddd101;
  --info-color: #3944f7;
  --dark-blue: #03203c;
}
input {
  padding: 1rem;
  border-radius: 3rem;
  border: hidden;
}

body {
  background-color: var(--dark-blue);
}
h1 {
  color: var(--info-color);
}
.hero-heading {
  text-align: center;
  color: var(--info-color);
}
.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: auto;
}
.emoji-data {
  background-color: var(--secondary-color);
  border-radius: 40%;
  width: 100%;
  display: inline-block;
}
.list-non-bullet {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0rem;
  justify-content: center;
}
.list-item-inline {
  padding: 1.2rem;
  cursor: pointer;
  font-size: 2rem;
}

.heading-three {
  color: var(--info-color);
  text-transform: uppercase;
  background-color: #207398;
  padding: 3rem;
  border-radius: 80%;
}
