:root {
  --warning-color: #f7cd2e;
  --secondary-color: #ddd101;
  --info-color: #3944f7;
}

body {
  background-color: var(--warning-color);
}
.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: auto;
}
.emoji-data {
  background-color: var(--secondary-color);
  width: 100%;
  display: inline-block;
}
.list-non-bullet {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0rem;
  justify-content: center;
}
.list-item-inline {
  padding: 1.2rem;
  cursor: pointer;
  font-size: 2rem;
}
.heading-one {
  color: var(--info-color);
}
.heading-three {
  color: var(--info-color);
  text-transform: uppercase;
}
