* {
  margin: 0;
  color: #03203c;
}

:root {
  --blue-color: #207398;
  --sky-blue-color: #51e1ed;
  --dark-blue-color: #03203c;
  --green-color: #4dd637;
  --secondary-color: #ddd101;
}
body {
  background-color: var(--blue-color);
}

input {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 3rem;
  border: hidden;
}

.emoji-data {
  background-color: var(--sky-blue-color);
  border-radius: 40%;
  font-size: 1.5rem;
}
.list-non-bullet {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0rem;
  justify-content: center;
}

.list-item-inline {
  display: inline;
  margin: 0 1rem;
  padding: 1rem;
  cursor: pointer;
}

/* hero */

/* .hero  */
.hero-heading {
  margin-top: 1rem;
  text-align: center;
}

.container {
  width: 50%;
  height: 40vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* heading */
.heading-three {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  margin: 2rem 0rem;
  background-color: #23c4ed;
  color: white;
  height: 20vh;
  border-radius: 1rem;
}

/* footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: var(--sky-blue-color);

  text-align: center;
  padding: 0.3rem 0rem;
  margin-bottom: 0.1rem;
}
.footer-header {
  margin-bottom: 1rem;
  font-size: larger;
}
